<% content_for :page_title do %>
  <%= link_to Spree.t(:active_sales), admin_active_sales_path %> / <%= @active_sale.name %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new, scope: [:active_sale, :event, :link]), [:new, :admin, @active_sale, :active_sale_event], icon: 'plus', id: 'admin_new_active_sale_link', class: 'btn-success' %>
<% end %>

<div data-hook="admin_active_sale_edit_form">
  <div id="active-sale-form-wrapper">
    <%= render partial: 'form' %>
  </div>
</div>
