<% content_for :page_title do %>
  <%= link_to Spree.t(:active_sales), admin_active_sales_path %> /
  <%= link_to @active_sale.name, admin_active_sale_path(@active_sale) %> /
  <%= Spree.t(:new, scope: [:active_sale, :event, :title]) %>
<% end %>

<div data-hook="admin_active_sale_event_edit_form">
  <%= render partial: 'form' %>
</div>
